{% extends 'student_base.html' %}

      {% block profil %}
            <p>Imię: {{ student.first_name }}</p>
            <p>Nazwisko: {{ student.last_name }}</p>
            <p>Klasa: {{ student.get_school_class_display }}</p>
      {% endblock profil %}

      {% block diary %}
      <table class="table table-striped">
         <thead>
             <tr>
                  <th>Id</th>
                  <th>Przedmiot</th>
                   <th>Oceny</th>
              </tr>
         </thead>
         <tbody>
         {% for sub in cp_subjects %}
             <tr>
                 <td>{{ sub.id }}</td>
                 <td>{{ sub }}</td>
                 <td>
                     <ul>
                         {% for g in grades %}
                             {% if g.student_id == sub.id %}
                                <li>{{ g.grade }}</li>
                             {% endif %}
                         {% endfor %}
                     </ul>

                 </td>
             </tr>
        {% endfor %}
        </tbody>
      </table>
      {% endblock diary %}

      {% block unprepared %}
      <table class="table table-striped">
          <thead>
              <tr>
                  <th>Przedmiot</th>
                  <th>Nieprzydotowanie 1</th>
                  <th>Nieprzydotowanie 2</th>
              </tr>
              {% for sub in cp_subjects %}
              <tr>
                 <td>{{ sub }}</td>
                 <td>
                     {% for unp in unprepared_list %}
                         {% if unp.school_subject_id == sub.id %}
                            {{ unp.unprep_one_used }}
                         {% endif %}
                     {% endfor %}
                 </td>
                 <td>
                     {% for unp in unprepared_list %}
                         {% if unp.school_subject_id == sub.id %}
                            {{ unp.unprep_two_used }}
                         {% endif %}
                     {% endfor %}
                 </td>
             </tr>
        {% endfor %}
        </tbody>
      </table>
      {% endblock unprepared %}
