{% extends 'teacher_base.html' %}


    {% block teacher_diary %}
    <h3>Przedmiot: {{ subject.name }}</h3><p>id: {{ subject.id }}</p>
     <table class="table table-striped">
         <thead>
             <tr>
                 <th>Id</th>
                 <th>Imię Nazwisko</th>
                 <th>Oceny</th>
                 <th>Średnia</th>
                 <th></th>
              </tr>
         </thead>
         <tbody>
         {% for s in students %}
             <tr>
                 <td>{{ s.id }}</td>
                 <td><a href="/student/{{ s.id }}">{{ s.first_name }} {{ s.last_name }}</a></td>
                 <td>
                     <ul>
                     {% for g in grades %}
                         {% if g.student_id == s.id %}
                            <li>{{ g.grade }}</li>
                         {% endif %}
                     {% endfor %}
                     </ul>
                 </td>
                 <td>
                     {% for g in grades %}
                         {% if g.student_id == s.id %}
                             {{ g.avg }}
                         {% endif %}
                     {% endfor %}
                 </td>
                 <td><a href="/teacher/{{ class_id }}/{{ subject.id }}/{{ s.id }}/grades">Oceń</a></td>
             </tr>
        {% endfor %}
        </tbody>
     </table>
    {% endblock teacher_diary %}

{% block absence_list %}
<table class="table table-striped">
         <thead>
             <tr>
                 <th>Id</th>
                 <th>Imię Nazwisko</th>
                 <th>Data</th>
                 <th>Obecny</th>
                 <th></th>
              </tr>
         </thead>
         <tbody>
         {% for s in students %}
             <tr>
                 <td>{{ s.id }}</td>
                 <td><a href="/student/{{ s.id }}">{{ s.first_name }} {{ s.last_name }}</a></td>
                 <td>
                     {{ date }}
                 </td>
                 <td>
                     {% for pre in presence_list %}
                         {% if pre.student_id == s.id %}
                            {{ pre.present }}
                         {% endif %}
                     {% endfor %}
                 </td>
                 <td><a href="/teacher/{{ class_id }}/{{ subject.id }}/{{ s.id }}/grades">Edytuj</a></td>
             </tr>
        {% endfor %}
        </tbody>
     </table>

    {% endblock absence_list %}

    {% block used_unprepared %}
    <table class="table table-striped">
         <thead>
             <tr>
                 <th>Id</th>
                 <th>Imię Nazwisko</th>
                 <th>Nieprzygotoanie 1</th>
                 <th>Nieprzygotoanie 2</th>
                 <th></th>
              </tr>
         </thead>
         <tbody>
         {% for s in students %}
             <tr>
                 <td>{{ s.id }}</td>
                 <td><a href="/student/{{ s.id }}">{{ s.first_name }} {{ s.last_name }}</a></td>
                 <td>
                     {% for unp in unprepared_list %}
                         {% if unp.student_id == s.id %}
                            {{ unp.unprep_one_used }}
                         {% endif %}
                     {% endfor %}
                 </td>
                 <td>
                     {% for unp in unprepared_list %}
                         {% if unp.student_id == s.id %}
                            {{ unp.unprep_two_used }}
                         {% endif %}
                     {% endfor %}
                 </td>
                 <td><a href="/teacher/{{ class_id }}/{{ subject.id }}/pres">Edytuj</a></td>
             </tr>
        {% endfor %}
        </tbody>
     </table>
    {% endblock used_unprepared %}