{% extends 'teacher_base.html' %}

    {% block class %}
        {% for c in cp_class %}
        <li><a href="/teacher/{{ c.0 }}">{{ c.1 }}</a></li>
        {% endfor %}
    {% endblock class %}



    {% block teacher_diary %}
    <h3>Przedmiot: {{ subject.name }}</h3><p>id: {{ subject.id }}</p>
     <table class="table table-striped">
         <thead>
             <tr>
                 <th>Id</th>
                 <th>Imię Nazwisko</th>
                 <th>Oceny</th>
                 <th></th>
              </tr>
         </thead>
         <tbody>
         {% for s in students %}
             <tr>
                 <td>{{ s.id }}</td>
                 <td><a href="/student/{{ s.id }}">{{ s.first_name }} {{ s.last_name }}</a></td>
                 <td>
                     <ul>
                     {% for g in grades.filter %}
                         {% if g.student_id == s.id %}
                            <li>{{ g.grade }}</li>
                         {% endif %}
                     {% endfor %}
                     </ul>
                 </td>
                 <td><a href="#">Oceń</a></td>
             </tr>
        {% endfor %}
        </tbody>
     </table>
    {% endblock teacher_diary %}

    {% block absence_list %}
    {% endblock absence_list %}

    {% block used_unprepared %}
    {% endblock used_unprepared %}